@import "../../styles/Variables";

div.container {
  max-width: $max-width;

  margin: 0 auto;

  padding: 0.5rem 1rem;

  justify-content: space-between;
  align-items: center;
  display: flex;
  flex: 1;
}

div.center {
  justify-content: center;
  align-items: center;
  display: flex;

  & > div:first-of-type:after {
    content: "";

    border-right: 1px solid $light-gray;

    margin-left: 1rem;
  }
}

div.rightGroup {
  justify-content: flex-end;
  display: flex;

  & > * {
    margin-left: 1rem;
  }
}

div.leftGroup {
  justify-content: flex-start;
  align-items: center;
  display: flex;

  & > * {
    margin-right: 1rem;
  }
}
