@import "../../styles/Variables";

button.container {
  background-color: $purple-navy;

  border-radius: 0.2em;
  border: none;

  padding: 0.5em 0.75em;

  font-size: 1.2rem;
  color: $white;

  transition: all 0.3s ease;

  align-items: center;
  display: flex;

  position: relative;

  span.children {
    transition: all 0.1s ease;

    overflow: hidden;

    width: 0;
  }

  &:hover {
    cursor: pointer;

    background-color: $white;

    span.icon {
      transition: all 0.3s ease;

      color: $purple-navy;
    }

    span.children {
      width: auto;

      color: $purple-navy;

      &[data-orientation="right"] {
        margin-left: 0.5rem;
      }
      &[data-orientation="left"] {
        margin-right: 0.5rem;
      }
    }
  }
}
