@import "../../styles/Variables";

button.container {
  background-color: $purple-navy;

  border: none;
  border-bottom: 2px solid transparent;

  padding: 0.5em 1em;

  font-size: 1.2rem; // large font size similar to button with size="lg"
  color: $white;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;

    filter: brightness(110%);
  }

  &[data-isactive="true"] {
    border-bottom-color: $light-gray;
  }
}
