@import "./Variables";

:export {
  $darkJungleGreen: $dark-jungle-green;
  $purpleNavy: $purple-navy;
  $lightGray: $light-gray;
  $white: $white;
  $electricLime: $electric-lime;
  $indiaGreen: $india-green;
  $red: $red;
}
